img.LP--srcImage {
    width :100%;
    height :100vh;
    display: block;
  }

div.LP--content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70vw;
    height: 60vh;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff2d;
  }

h1.text1 {
    color: #ffffff;
    font-size: 90px;
    font-family: 'Racing Sans One', cursive;
    height : 20%;
    width : 100%;
}

p.text1 {
    color: #ffffff;
    font-size: 39px;
    font-family: 'Lato', sans-serif;
    height: 25%;
    width : 100%;
}

div.LP--searchBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 7%;
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ant-input {
    height: 40px !important;
}

.ant-input-search-button {
    height: 50px !important;
}

.ant-popover-inner-content {
    display: flex;
    flex-direction: column;
}

.ant-popover {
    width: 650px;
    max-height: 240px;
    overflow-y: scroll;
}

.ant-popover::-webkit-scrollbar {
    display: none;
}

.landingPage .ant-card {
    display: flex;
    margin: 5px !important;
    width: 99% !important;
    flex-direction: row;
    align-items: center;

}

.landingPage .ant-card-cover {
    height: 100px;
    width: 100px;
}

.landingPage .ant-card-body {
    width: 80%;
}

.landingPage .ant-card-meta {
    height: 120%;
}